flask
flask-cors
Werkzeug
python-dotenv
langchain
google-cloud-aiplatform
google-cloud-storage
beautifulsoup4
requests
pinecone
pinecone-client
PyPDF2
PyMuPDF
pytest
langchain-pinecone 
pinecone-notebooks