flask
flask-cors
Werkzeug
python-dotenv
langchain
google-cloud-aiplatform
google-cloud-storage
google-generativeai
beautifulsoup4
requests
pinecone
pinecone-client
pillow
PyPDF2
pytest
langchain_google_genai
langchain-pinecone
langchain-community
pinecone-notebooks
spire
spire.pdf
